
body {
  background: black;
}
header{

	background-color: #668cff;
	border-radius: 5px 5px;
}
nav{
	width: 100%;
	border-radius: 5px 5px 5px 5px;

}
@media (max-width: 576px){
	#prueba{

		text-align: center;
	}
	#buscador{
		display: none;
	}


}
@media (min-width: 577px){
	#prueba{

		text-align: right;
	}


}
#redes {
right: 5px;
}
#contRed{
	text-align: right;
}
#buscador a:visited, a:active{
	text-decoration: none;
}
#navegacion{
	height: 100%;
	background-color: #4d4dff;
	border-radius: 5px 5px 5px 5px;
}
#navegacion nav{
	text-align: center;
	color: yelow;
}
#navegacion a{
	text-align: center;
	color: white;
}
#navegacion a:hover {
	height: 100%;
	border-radius: 5px 5px 5px 5px;
	background-color: red;
	color: white;
}
#contenido{
	background-color: white;
}
